@{
    ViewBag.Title = "Home Page";
}

<div class="well well-sm">
    <h1>ASP.NET MVC app with sidebar</h1>
    <p><a href="https://github.com/mkvster/aspnet-mvc-sidebar" class="btn btn-primary btn-lg">View Source &raquo;</a></p>
</div>

<div class="well well-sm">
    <h2>Integration with your application</h2>
    <ol>
        <li>Include sidebar.less into your project</li>
        <li>Setup sidebar.less parameters</li>
        <li>Inclue sidebar.css in bundle ~/Content/css</li>
        <li>In _Layout.cshtml apply sidebar-navbar-inverse (see source for an example)</li>
        <li>Apply sidebar-navbar-container</li>
        <li>Add divs sidebar-layout, sidebar-aside-content</li>
        <li>Move body-content inside sidebar-layout and apply sidebar-body-content</li>
        <li>Insert content of sidebar into div sidebar-aside-content</li>
    </ol>
</div>
